
@import 'theme.scss';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include create-project(mutex);

*::-webkit-scrollbar {
	width: 10px;
	margin-right: 2px;
}

*::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,.2);
	border-radius: 20px;
}

*::-webkit-scrollbar-track {
	background: rgba(0,0,0,.2);
	border-radius: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
    font-weight: 300;
    color: var(--mutex8);
}

a {
	color: var(--mutex8);

	&:hover {
		filter: brightness(80%);
	}
}

.mat-expansion-panel {
	box-shadow: none !important;
}

.mx-page {
    flex: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
    min-height: 0px;
}

.mx-page-header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 9001;
}

.mat-table, .mat-paginator {
	// Table background is controlled by the same style as the card background. We don't like that.
	background: var(--mutex-background) !important;
}

.mat-expansion-panel {
	box-shadow: none !important;
	background: var(--kestrel-card) !important;
}

.mx-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;

    .spacer {
		flex: 1;
	}

	.filter {
		margin-left: 4px;
		min-width: 140px;
		width: 500px;
	}
}
