/api/mutex/bin
/api/mutex/obj
/api/mutex/Source/mutex/bin
/api/mutex/Source/mutex/bin/Debug
/api/mutex/Source/mutex/obj
/api/mutex/Tests/mutex.IntegrationTest/bin
/api/mutex/Tests/mutex.IntegrationTest/obj
/api/.vs
/api/**/bin
/api/**/obj
/api/mutex-api/bin
/api/mutex-api/obj
/api/mutex-data/bin
/api/mutex-data/obj
