<div class="page mat-drawer-container">
    <h1>Test!</h1>
    <button mat-raised-button color="primary">Test!</button>
    <mat-expansion-panel>
        <mat-expansion-panel-header><mat-panel-title>A test expander!</mat-panel-title>
        </mat-expansion-panel-header>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, alias repellendus tempora tenetur ut quo officia beatae distinctio quia inventore unde voluptates enim praesentium veritatis, deserunt non. Voluptatum quos obcaecati repellat voluptas quas quia neque porro, tenetur asperiores. Officiis rem sapiente ut atque iure incidunt perferendis ab voluptates numquam maxime!
    </mat-expansion-panel>
    <router-outlet></router-outlet>
</div>